//Primary

$mainback: hsl(233, 47%, 7%);
$cardback: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

//Neutral

$heading: hsl(0, 0%, 100%);
$stats: hsl(0, 0%, 100%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$stathead: hsla(0, 0%, 100%, 0.6);

//Footer


